.desktop {
  position: absolute;
  top: 32px;
  /* below top bar */
  left: 68px;
  /* beside dock (left mode) */
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.desktop--dock-bottom {
  left: 0;
  bottom: 68px;
}

.desktop__window-container {
  position: relative;
  width: 100%;
  height: 100%;
}